/* src/App.css

input {
    margin-left: 80px;
    width: 50%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,800&display=swap');

body{
    font-family: 'Nunito Sans', sans-serif;
    
}
nav{
    font-weight: 500;
    font-size: 18px !important;
   
}